.container{
    background-image: url(https://images.unsplash.com/photo-1659561158823-464b9ad7588b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1965&q=80);
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container{
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 40rem;
    max-width: 50rem;
    background: rgba(0, 173, 181, 0.5);
    border-radius: 50%;
    border: 2px solid #e1f1dd;
    padding: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: white;
    font-size: 3rem;

}

.image{
    width: 30%;
    margin: 1rem;
    margin-bottom: 2rem;
}
.form{
    display: flex;
    flex-direction: column;
}

.form input{
    height: 3rem;
    font-size: 1.5rem;
    width: 20rem;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    margin: 1rem;
    padding: 0.8rem;
    
}
button {
  width:15rem ;
  height: 2.5rem;
  font-size: 1.8rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  color: white;
  border: none;
  margin: auto;
  margin-top: 1rem;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}